extends layout

block content
    div(class="ui inverted menu")
      a(class="active red item" id="usernow")= usernow
    div(class='ui feed' id='chats')
        each post, i in posts
            div(class='event')
                div(class='label')
                    img(src='/images/1.jpg')
                div(class='content')
                    if post.user == usernow
                        div(class='summary') me
                    else
                        div(class='summary')= post.user
                    div(class='date')= post.time
                div(class='extra text')= post.content

    form#newPost(name="newpost", method="post", action="/posts/new", class='ui form')
        div(class='field')
            label Content
            input#inputContent(type="text", placeholder="content", name="content")
        button#postSubmit(type="submit", class='ui button') submit

    script(src='/js/formEmit.js')
